:root {
    --gap: 24px;
    --content-gap: 24px;
    --component-gap: 64px;
    --medium-gap: 8px;
    --small-gap: 4px;
    --nav-width: 720px;
    --main-width: 720px;
    --post-width: 720px;
    --header-height: 60px;
    --footer-height: 80px;
    --radius: 8px;
    --monospace: "Lucida Console", Monaco, "Consolas", monospace;

    --theme: rgb(248, 247, 244);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --primary-dim: rgb(107, 114, 128);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(158, 158, 158);
    --tertiary-bg: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-bg: rgb(248, 247, 244);
    --border: rgb(238, 238, 238);
    --link-background-color: #e8e3f7;
    --link-color: var(--primary);
    --link-hover-color: #059669;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #059669;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --link-transition: all 0.3s ease;
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    --white: rgb(255, 255, 255);

    /* for type pages theming */
    --signature: var(--primary);
    --signature-bg: var(--secondary);
}
@media screen and (max-width: 500px) {
    :root {
        --header-height: 52px;
    }

}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --primary-dim: rgb(186, 186, 186);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(123, 124, 124);
    --tertiary-bg: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --link-background-color: ;
    --link-color: var(--primary);
    --link-hover-color: #10b981;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-hover-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);

    /* for type pages theming */
    --signature: var(--primary);
    --signature-bg: var(--secondary);
}

.list-page {
    background: var(--code-bg);
}

.dark.list-page {
    background: var(--theme);
}

/* /static/css/custom.css */


a[target="_blank"]::after {
    content: ' ↗ ';
    font-size:0.8em;
    vertical-align:top;
  }


/* @link https://utopia.fyi/type/calculator?c=320,14,1.125,1240,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.6914rem, 0.6903rem + 0.0054vw, 0.6944rem);
    --step--1: clamp(0.7778rem, 0.7585rem + 0.0966vw, 0.8333rem);
    --step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
    --step-1: clamp(0.9844rem, 0.9094rem + 0.375vw, 1.2rem);
    --step-2: clamp(1.1074rem, 0.9917rem + 0.5784vw, 1.44rem);
    --step-3: clamp(1.2458rem, 1.0781rem + 0.8385vw, 1.728rem);
    --step-4: clamp(1.4016rem, 1.1678rem + 1.1687vw, 2.0736rem);
    --step-5: clamp(1.5768rem, 1.2597rem + 1.5853vw, 2.4883rem);
  }