{{- define "main" }}
  {{- if not .IsHome | and .Title }}
    <div class="page-header">
      {{- partial "breadcrumbs.html" . }}
      <h1>
        {{- if eq .Kind "term" -}}{{- .Data.Singular }}: {{ end -}}
        {{ .Title -}}
      </h1>
      {{- if .Description }}
        <div class="post-description">
          {{ .Description | markdownify }}
        </div>
      {{- end }}
      {{- partial "inline_links.html" . -}}
    </div>
  {{- end }}
  
  {{- if .Content }}
    <div class="post-content">
      {{- if not (.Param "disableAnchoredHeadings") }}
        {{- partial "anchored_headings.html" .Content -}}
      {{- else }}{{ .Content }}{{ end }}
    </div>
  {{- end }}

  {{- $pages := .Pages }}
  {{- if .IsHome }}
    {{- $pages = where site.RegularPages "Section" "in" site.Params.mainSections }}
  {{- end }}
  {{- $pages = where $pages "Params.hidden" "!=" true }}
  
  {{ $paginator := "" }}
  {{ if .IsHome }}
    {{- $paginator = .Paginate $pages 10 }}
  {{ else if (.Param "paginate") }}
    {{- $paginator = .Paginate $pages (.Param "paginate") }}
  {{ else }}
    {{- $paginator = .Paginate $pages }}
  {{ end }}

  {{- if and .IsHome .Site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
    {{- partial "home_info.html" . }}
  {{- end }}

  {{- if .Site.Taxonomies.tags }}
    <div class="all-tags">
      <h5><a href="/tags">Topics</a></h5>
      <ul class="terms-tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li>
            <a href="{{ "tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a>
          </li> 
        {{ end }}
      </ul>
    </div>
  {{- end }}
  
  {{- if gt (len $paginator.Pages) 0 }}
    <div class="all-writing-header">
      <h5>Writing</h5>
    </div>
  {{- end }}
  
  {{- range $index, $page := $paginator.Pages }}
    {{- $class := "post-entry" }}
    {{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) }}
      {{- $class = "first-entry" }}
    {{- else if .Data.Term }}
      {{- $class = "post-entry tag-entry" }}
    {{- end }}
    <div class="entry-container">
      <div class="entry-header">
        <div class="entry-info">
          <span class="entry-date">{{- .Date.Format "2006-01-02" }}</span>
          <span id="title" class="entry-title">
            <a href="{{ .Permalink }}"><span class="title-text">{{ .Title }}</span></a>
          </span>
        </div>
      </div>
    </div>
  {{- end }}
  
  {{- if gt $paginator.TotalPages 1 }}
    <footer class="page-footer">
      <nav class="pagination">
        {{- if $paginator.HasPrev }}
          <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">« {{ i18n "prev_page" }}</a>
        {{- end }}
        {{- if $paginator.HasNext }}
          <a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }} »</a>
        {{- end }}
      </nav>
    </footer>
  {{- end }}
{{- end }}{{/* end main */}}